@model MVC_Muffin_Kingdon.Data.Product

@{
	ViewData["Title"] = "Details";
}
<head>
	<style>
		.content {
			display: flex;
			justify-content: space-evenly;
			margin: 10px 10px 10px 10px;
		}

			.content #right {
				font-size: 26px;
				color: #7b1756;
				margin-left: 100px;
			}

			.content #left {
				margin-right: 100px;
			}
			h1{
			color: #7b1756;
			}
	</style>
</head>
<br />

<h1>@Html.DisplayFor(model => model.Name)</h1>
<br />

<div class="content">
	<hr />
	<div id="left">
		<img src="@Html.DisplayFor(model => model.URLImage)" style="width:500px;border:solid 1px #7b1756;" />
	</div>
	<div id="right">
		<h3>@Html.DisplayFor(model => model.Name)</h3>
		<hr />
		<p>@Html.DisplayFor(model => model.Description)</p>
		<p>
			Внимание:@if (Model.Gluten == true)
			{
			<p>Съдържа глутен</p>
			}
			@if (Model.Gluten == false)
			{
			<p>Не съдържа глутен</p>
			}

		<hr />
		<p>@Html.DisplayFor(model => model.Price)лв./бр.</p>
		<br />

		<a asp-controller="Orders" asp-action="Create"
		   style="background-color:#f4adb7;justify-content:center; padding:1% 30%; margin:13.5%; font-size:20px;color:#42042b; text-decoration:none;border:solid 1px #42042b">
			Купи
		</a>
	</div>


</div>


<div>
	

	<br />

	<a asp-action="Index" style="background-color:#f4adb7; padding:1% 5%; font-size:20px;color:#42042b; text-decoration:none;border:solid 1px #42042b">
		Назад
	</a>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
</div>
