@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
}
<head>
    <style>
        #logo{
            text-align:center;
        }
    </style>
</head>
<div id="logo">
<img style="height:150px;" src="/img/logo3.png">
</div>
<h1 style ="color:#42042b;">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">

                <h2 style="color:#42042b;">Влез в профила си.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.UserName" class="form-label">Потребителско име</label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password" class="form-label">Парола</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
              @*   <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe ) 
                    </label>
                </div> *@
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary" style="background-color:#f4adb7  ; border:solid 1px #42042b; color:#42042b ">Вход</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" style="color:#42042b;">Забравена парола.</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" style="color:#42042b;">Нямаш регистрация?</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" style="color:#42042b;">Имаш ли нужда от помощ?</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3 style="color:#42042b;">
                Използвайте друга услуга за влизане.
            </h3 >
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p style="color:#42042b;">
                            Няма конфигурирани външни услуги за удостоверяване. Вижте това <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                статия
                                относно настройването на това ASP.NET приложение да поддържа влизане чрез външни услуги
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
